$principal-color: #012169;
$secondary-color: #515359;

.list-attr-property{
   list-style: none;
   padding-inline-start: 0%;
   margin-top: 3vh;
   margin-bottom: 3vh;
   
}
.li-attr-property{
   display: inline;
   margin-left: 3vh;
}

.container .container-property{
   margin-left: 2vh;
   margin-right: 5vh;
   margin-top: 5vh;
   margin-bottom: 2vh;
}
.nav nav-pills{
   list-style: none;
}
.nav-item dropdown{
   display: inline;
}
.container-fluid{
   background-color: #ececec;
}
.property-title{
   text-align: left;
   margin-left: 8%;
   color: #012169;
   font: normal normal normal 22px/30px Ubuntu;   
   font-size: 12pt;
   margin-top: 3%;
}
.property-description{
   text-align: left;
   margin-left: 8%;
   font: normal normal normal 14px/30px Ubuntu;
   letter-spacing: 0px;
   color: #515359;
   opacity: 1;
}
.property-price{
   text-align: left;
   margin-left: 1%;
   font: normal normal bold 22px/30px Ubuntu;
   letter-spacing: 0px;
   color: #515359;
   opacity: 1;
}
.property-price-currency{
   text-align: left;
   margin-left: 8%;
   font: normal normal bold 22px/30px Ubuntu;
   letter-spacing: 0px;
   color: #515359;
   opacity: 1;
}
.search-property{
   color: #012169;
   font: normal normal normal 40px/40px Ubuntu;
   margin-top: 4%;
   margin-bottom: 3%;
   height: 56px;
}
.bath-icon{
   width:3vh; 
   background: transparent;
   opacity: 1;
}
.box-border-property{
   border-radius: 5%;
   box-shadow: 0 8px 6px -6px #00000029;
   margin-top: 3%;
}
.navbar.navbar-expand-lg.navbar-light{
   background-color: #ececec;
   margin-top: 6%;
   height: 15vh;
   width: 100%;
   
}
.btn.btn-outline-secondary{
   border-color: #418fde !important;
   margin-right: 2vh;
   color: #418FDE;
   width: 183px;
   height: 53px;
}
.btn .bi.bi-search{
   margin-right: 5%;
}
.form-control{
   width: 270px;
}
.navbar.navbar-expand-lg.navbar-light.o_colored_level.o_cc.shadow-sm{
   margin-top: 0%;
   height: auto;
   width: 100%;
}
.form-label{
   color: #515359;
   font: normal normal normal 14px/30px Ubuntu;
   margin-left: -58%;
}
.form-inline label{
   margin-bottom: 2%;
}
.select-h5{
   letter-spacing: 1.4px;
}
h5.select-h5{
   color: #515359;
   font: normal normal normal 14px/36px Ubuntu;
   text-transform: uppercase;
   opacity: 1;
   min-width: 175px;
   margin-left: 17%;
   height: 23px;
   margin-block-end: 2vh;
}
.form-select{
   width: 183px;
   height: 42px;
   /*margin-left: 4vh;*/
}
.form-select-price{
   width: 148px;
   height: 42px;
   /*margin-left: 4vh;*/
}
.navbar.navbar-expand-lg.navbar-light.o_colored_level.o_cc.shadow-sm{
   background-color: #012169;
   width: 100%;
   height: 134%;
}
.navbar-nav.mr-auto{
   margin-left: 13%;
}
.select{
   border-color: #515359;
   background: var(--unnamed-color-515359) 0% 0% no-repeat padding-box;
   background: #515359 0% 0% no-repeat padding-box;
   opacity: 0.5;
}
.snipet_title{
   text-align: center !important;
   margin-left: 8%;
   color: #012169 !important;
   font: normal normal normal 22px/30px Ubuntu !important;
   font-size: 12pt !important;
   margin-top: 3% ;
   text-transform: uppercase !important;
}
label.snipet_label{
   letter-spacing: 1.4px;
   color: #515359;
   font: normal normal normal 14px/36px Ubuntu;
   text-transform: uppercase;
   opacity: 1;
   height: 23px;
   display: block;
}